.contenedor{
    width: 100%;
    margin:0 auto;
    
}
header {
    position: absolute;
width: 1680px;
height: 852px;
left: 0px;
top: 0px;
background: radial-gradient(50% 50% at 50% 50%, rgba(227, 14, 80, 0.6) 0%, rgba(227, 14, 80, 0) 100%);
}

  h1{
    width: 1200px;
    height: 852px;
    left:240px;

    position: absolute;
    left: 14.29%;
    right: 14.29%;
    top: 0%;
    bottom: 0%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
    /* or 96px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #FFFFFF;
  }
  .test-task__image {
    position: absolute;
width: 1680px;
height: 852px;
left: 0px;
top: 0px;

mix-blend-mode: screen;

background: radial-gradient(50% 50% at 50% 50%, rgba(227, 14, 80, 0.6) 0%, rgba(227, 14, 80, 0) 100%);
  
}
nav{
    position: absolute;
width: 1680px;
height: 85px;
left: 0px;
top: 852px;

background: #E30E50;
}

.nav_left{
    position: absolute;
    width: 105px;
    height: 40px;
    left: 84px;
    top: 22px;
    
    background: #C4C4C4;
}
.logo_tag{
    position: absolute;
width: 40px;
height: 17px;
left: 116px;
top: 34px;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;
}

.tag1{
    position: absolute;
left: 78.04%;
right: 17.02%;
top: 27.06%;
bottom: 28.24%;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 120%;
/* or 17px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}
.tag2{
    position: absolute;
left: 84.52%;
right: 9.29%;
top: 27.06%;
bottom: 28.24%;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 120%;
/* or 17px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}

.linkedIn_logo {
    position: absolute;
width: 51.27px;
height: 14px;
left: 1545px;
top: 35px;
}

main{
    position: absolute;
    width: 1506px;
height: 1624px;
left: 0px;
top: 1010px;
}
.subtitle{
    margin-bottom: 10%;
    width: 713px;
    height: 38px;
}
h2{
    margin-left: 25%;
    margin-bottom: 5%;
    font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 120%;
/* or 42px */

letter-spacing: -0.015em;

color: #444444;

}
hr {
    position: absolute;
width: 324px;
left: 0px;
top: 1117px;
border: 1px solid #000000;
}
h3 p{
left: 10.18%;
right: 69.46%;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 140%;
/* or 25px */

letter-spacing: -0.015em;
color: #2E2F2E;
}
.text{
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */

letter-spacing: -0.015em;

color: #E30E50;
}
.icn-linkedIn {
    
width: 20px;
height: 20px;
}

.grid-container{
    margin-top: 5px;
    left: 171px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px 20px;
}

.bottom-grid {
    position: absolute;
height: 30px;
left: 651px;
    display: inline-block;
    padding: 20px;
  }
  .bottom-grid> .box {
    display: inline-block;
    padding: 20px;
    border: 1px solid #E30E50;
    color: #E30E50;
  }
  .bottom-grid> .box1 {
    background: #E30E50;
    border: 0.5px solid #E30E50;
box-sizing: border-box;
border-radius: 2px;
display: inline-block;
    padding: 20px;
    border: 1px solid #E30E50;
    color: #FFFFFF;;
  }
  .footer-line{
    position: absolute;
    width: 1340px;
    height: 0px;
    left: 0px;
    
    border: 0.5px solid #B0B0B0;
  }
  footer {
    position: absolute;
    width: 1340px;
    height: 67px;
    left: 170px;
    top: 2773px;
  }
  
  .footer-left{
      
position: absolute;
width: 106px;
height: 20px;
left: 0px;
top: 38px;

background: #C4C4C4;
  }
  .logo_tag2{
    position: absolute;
    width: 37px;
    height: 14px;
    left: 35px;
    top: 41px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #000000;
  }
  .tag3{
    position: absolute;
    left: 72.99%;
    right: 20.82%;
    top: 43.28%;
    bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #444444;
  }
  .tag4{

    position: absolute;
    left: 81.12%;
    right: 12.69%;
    top: 43.28%;
    bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #444444;
  }
  .tag5{
    position: absolute;
    left: 89.25%;
    right: 2.99%;
    top: 43.28%;
    bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #444444;
  }
  .icon_circle{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1320px;
    top: 38px;
  }