@media screen and (max-width: 1280px){
    header, h1, .test-task__image {
        width: 100%;}
        .grid-container{
            display: flex ;
            flex-direction: column ;
            flex-wrap: wrap ;
            justify-content: space-between ;
            align-items: center ;
            align-content: flex-start ;
        }
            .footer-line{
                position: absolute;
                width: 500px;
              }
              footer{
                position: absolute;
                width: 500px;
                height: 370px;
                left: 33px;
                top: 4900px;
                
              }
              .footer-left{
                position: absolute;
                width: 107px;
                height: 20px;
                left: 150px;
                top: 47px;
              }
              .tag3{
                position: absolute;
            left: 36.45%;
            right: 36.77%;
            top: 44.19%;
            bottom: 41.09%;
            
              }
              .tag4{
                position: absolute;
                left: 36.45%;
                right: 36.77%;
                top: 58.91%;
                bottom: 26.36%;
                
              }
              .tag5{
                position: absolute;
                left: 32.9%;
                right: 33.55%;
                top: 73.64%;
                bottom: 11.63%;
                
                
                color: #444444;
                
              }
              .icon_circle{
                
            position: absolute;
            width: 54.93px;
            height: 15px;
            left: 127px;
            top: 243px;
            
              }
                
}
@media screen and (max-width: 970px){
    header, h1, .test-task__image, nav{
        width: 100%;
    }
        .grid-container{
            display: flex ;
            flex-direction: column ;
            flex-wrap: wrap ;
            justify-content: space-between ;
            align-items: center ;
            align-content: flex-start ;
                
        }
        .bottom-grid {
            position: absolute;
        height: 20px;
        left: 50px;
            display: inline-block;
            padding: 20px;
          }
          .footer-line{
            position: absolute;
            width: 500px;
          }
          footer{
            position: absolute;
            width: 500px;
            height: 370px;
            left: 33px;
            top: 4900px;
            
          }
          .footer-left{
            position: absolute;
            width: 107px;
            height: 20px;
            left: 150px;
            top: 47px;
          }
          .tag3{
            position: absolute;
        left: 36.45%;
        right: 36.77%;
        top: 44.19%;
        bottom: 41.09%;
        
          }
          .tag4{
            position: absolute;
            left: 36.45%;
            right: 36.77%;
            top: 58.91%;
            bottom: 26.36%;
            
          }
          .tag5{
            position: absolute;
            left: 32.9%;
            right: 33.55%;
            top: 73.64%;
            bottom: 11.63%;
            
            
            color: #444444;
            
          }
          .icon_circle{
            
        position: absolute;
        width: 54.93px;
        height: 15px;
        left: 127px;
        top: 243px;
        
          }
}
@media screen and (max-width: 768px){
    header, h1, .test-task__image {
        width: 100%;
        font-weight: 900;
font-size: 30px;
line-height: 120%;
/* or 36px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;
}
nav {
    width: 100%;
}
.nav_left {
width: 40px;
height: 17px;
left: 51px;
top: 34px;

font-weight: 900;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;
}
.subtitle, h2{
    left: 8.8%;
right: 8.53%;
top: 13.57%;
bottom: 85.78%;
font-weight: 800;
font-size: 20px;
line-height: 120%;
/* or 24px */

display: flex;
align-items: center;
letter-spacing: -0.015em;
}
hr{
    position: absolute;
width: 195px;
height: 0px;
left: 0px;
}
.grid-container{
    grid-template-columns: 1fr;

}
.bottom-grid {
    position: absolute;
height: 30px;
left: 50px;
    display: inline-block;
    padding: 5px;
  }
  
  .footer-line{
    position: absolute;
    width: 500px;
  }
  footer{
    position: absolute;
    width: 500px;
    height: 370px;
    left: 33px;
    top: 4900px;
    
  }
  .footer-left{
    position: absolute;
    width: 107px;
    height: 20px;
    left: 150px;
    top: 47px;
  }
  .tag3{
    position: absolute;
left: 36.45%;
right: 36.77%;
top: 44.19%;
bottom: 41.09%;

  }
  .tag4{
    position: absolute;
    left: 36.45%;
    right: 36.77%;
    top: 58.91%;
    bottom: 26.36%;
    
  }
  .tag5{
    position: absolute;
    left: 32.9%;
    right: 33.55%;
    top: 73.64%;
    bottom: 11.63%;
    
    
    color: #444444;
    
  }
  .icon_circle{
    
position: absolute;
width: 54.93px;
height: 15px;
left: 127px;
top: 243px;

  }
}